.pet-section__content {
    align-items: center;
    height: 697px;
}

.slider {
    width: 1200px;
    height: 435px;
    background-color: gray;
}

@media (min-device-width: 768px) {
    .slider {
        width: 400px;
        margin: 0 auto;
    }
}