.help-section__content {
    align-items: center;
    height: 431px;
}

.help-section__list {
    width: 1026px;
    height: 281px;
    display: flex;
    align-items: center;
}

.list__card {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__icon {
    width: 60px;
    height: 60px;
}

.card__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.list__row--first {
    width: 100%;
}

.list__row--second {
    width: 80%;
}