.first-screen-container {
    height: 908px;
    background: url(/src/assets/images/bg-transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.first-screen__wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.first-screen-content {
    justify-content: space-between;
    padding: 0 40px;
}

.first-screen-content__text-block {
    margin-top: 163px;
    width: 420px;
    height: 322px;
}

#first-screen-btn {
    width: 207px;
}

.fist-screen__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.fist-screen__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    display: flex;
    align-items: center;

    /* color-dark-s */

    color: #CDCDCD;
}