/* #root {} */


.content {
  width: 1280px;
  margin: 0 auto;
}

.row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section:nth-child(even) {
  background: #F6F6F6;
}

.column-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;

  display: flex;
  align-items: center;

  color: #4C4C4C;

}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */

  display: flex;
  align-items: center;

  /* color-dark-s */

  color: #4C4C4C;
}

.btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  border: 0;

  letter-spacing: 0.06em;

  color: #292929;
  cursor: pointer;

  width: 261px;
  height: 52px;

  background: #F1CDB3;
  border-radius: 100px;
}